/* https://stackoverflow.com/a/4407335 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
}

:root {
  font-size: max(calc(30vh * 16 /150), 16px);
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  touch-action: none;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-header {
  width: 30vh;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

#github-logo {
  height: 3vh;
  min-height: 15px;
  width: 3vh;
  min-width: 15px;
}

#game-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

#info-logo {
  height: 3vh;
  min-height: 15px;
  width: 3vh;
  min-width: 15px;
}

#score-container, #level-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#level-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

#score-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

#score-prefix-container, #level-prefix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#score-prefix-container > b, #level-prefix-container > b {
  font-size: 0.75rem;
}

#score-value-container, #level-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#score-value-container > p, #level-value-container > p {
  font-size: 0.75rem;
  margin: 0;
  color: white;
}

#game-board {
  position: relative;
}

#game-board {
  height: 60vh;
  min-height: 300px;
  width: 30vh;
  min-width: 150px;
}

#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  min-height: 300px;
}

#game-board {
  background-color: cadetblue;
}

.game-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0.25rem 0;
  height: 1.6rem;
}

#in-game-controls {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#in-game-controls > div button {
  width: 15vh;
  min-width: 75px;
}

#pause-and-resume-buttons > button {
  background-color: cornflowerblue;
  color: white;
}

#pause-button {
  display: block;
}

#resume-button {
  display: none;
}

#start-button {
  width: 30vh;
  min-width: 150px;
  background-color: #4CAF50;
  color: white;
}

#stop-button {
  display: block;
  width: 30vh;
  min-width: 150px;
  background-color: crimson;
  color: white;
}
